.item_list .recomend {
  overflow: hidden;
  padding: 0 0 20px 0;
}

.item_list .recomend > p {
  margin: 0 0 5px 0;
  padding: 10px 5px 9px 10px;
  background-color: #666;
  color: #fff;
  font-size: 14px;
  line-height: 100%;
}

.item_list .recomend .recomendlist {
  width: 970px;
  margin: 0 -20px 0 0;
}

.item_list .recomend .recomendlist .block {
  width: 117px;
  height: 117px;
  margin: 0 2px 2px 0;
  background-color: #eee;
  float: left;
}

.item_list .recomend .recomendlist .block .thum {
  width: 117px;
  height: 117px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.item_list .recomend .recomendlist .block img {
  max-width: 100px;
  max-height: 100px;
  margin: 5px 0 0 0;
}

.item_list .notfound {
  min-height: 400px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .item_list_layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .item_list_layout {
    display: block;
    margin: 10px auto 0;
  }
}

@media only screen and (min-width: 960px) {
  .item_list_layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin: 10px auto 0;
  }
  .item_list_layout .content_head {
    width: 150px;
    margin: 0 15px 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .item_list_layout .entry {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .item_list_layout .entry {
    width: calc(100% - 165px);
  }
}

.select_choice strong {
  display: block;
  background-color: #c5dce2;
  padding: 5px 0 3px 8px;
  margin: 0 0 6px 0;
}

@media only screen and (max-width: 767px) {
  .select_choice {
    text-align: left;
    border: 1px solid #ccc;
    padding: 15px 15px 0 15px;
    margin: 0 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .select_choice .box {
    margin: 0 0 10px 0;
  }
  .select_choice a {
    display: inline-block;
    margin: 0 0 2px 5px;
    padding: 0 0 0 5px;
    position: relative;
  }
  .select_choice a:before {
    content: "";
    display: inline-block;
    border: 4px solid transparent;
    border-left-color: #a3b7b6;
    position: absolute;
    top: 5px;
    left: -3px;
  }
  .select_choice a.active {
    font-weight: bold;
  }
  .select_choice .selected {
    width: 24%;
  }
  .select_choice .selected a {
    display: inline-block;
  }
  .select_choice .selected p {
    display: inline-block;
    margin: 0 0 0 9px;
  }
  .select_choice .shop {
    width: 24%;
  }
  .select_choice .cat {
    width: 24%;
  }
  .select_choice .narabi {
    width: 24%;
  }
  .select_choice .layout {
    width: 19%;
  }
  .select_choice .number {
    width: 19%;
  }
  .select_choice .sold {
    width: 19%;
  }
  .select_choice .sale {
    width: 19%;
  }
  .select_choice .zaiko {
    width: 19%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .select_choice {
    text-align: left;
    border: 1px solid #ccc;
    padding: 15px 15px 0 15px;
    margin: 0 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .select_choice .box {
    margin: 0 0 10px 0;
  }
  .select_choice a {
    display: inline-block;
    margin: 0 0 2px 5px;
    padding: 0 0 0 5px;
    position: relative;
  }
  .select_choice a:before {
    content: "";
    display: inline-block;
    border: 4px solid transparent;
    border-left-color: #a3b7b6;
    position: absolute;
    top: 5px;
    left: -3px;
  }
  .select_choice a.active {
    font-weight: bold;
  }
  .select_choice .selected {
    width: 24%;
  }
  .select_choice .selected a {
    display: inline-block;
  }
  .select_choice .selected p {
    display: inline-block;
    margin: 0 0 0 9px;
  }
  .select_choice .shop {
    width: 24%;
  }
  .select_choice .cat {
    width: 24%;
  }
  .select_choice .narabi {
    width: 24%;
  }
  .select_choice .layout {
    width: 19%;
  }
  .select_choice .number {
    width: 19%;
  }
  .select_choice .sold {
    width: 19%;
  }
  .select_choice .sale {
    width: 19%;
  }
  .select_choice .zaiko {
    width: 19%;
  }
}

@media only screen and (min-width: 960px) {
  .select_choice {
    text-align: left;
  }
  .select_choice .box {
    margin: 0 0 10px 0;
    border: 1px solid #c2cbce;
    padding: 6px 5px 5px;
  }
  .select_choice a {
    display: block;
    margin: 0 0 2px 5px;
    padding: 0 0 0 5px;
    position: relative;
  }
  .select_choice a:before {
    content: "";
    display: inline-block;
    border: 4px solid transparent;
    border-left-color: #a3b7b6;
    position: absolute;
    top: 5px;
    left: -3px;
  }
  .select_choice a.active {
    font-weight: bold;
  }
  .select_choice .selected p {
    margin: 0 0 0 9px;
    font-size: 12px;
    line-height: 150%;
  }
}

.addcart_message {
  display: none;
  position: absolute;
  top: 40px;
  left: 595px;
  z-index: 10;
  padding: 0;
  width: 160px;
  text-align: center;
}

.addcart_message p {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 5px;
  margin: 0;
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  opacity: 0.70;
  border-radius: 5px;
  font-size: 14px;
}

.grandchild dl {
  border: 1px solid #ddd;
  margin: 0 0 5px 0;
  padding: 0;
}

.grandchild dt {
  margin: 0;
  padding: 5px 0;
  background-color: #e3ecde;
  text-align: center;
}

.grandchild dd {
  margin: 0;
  padding: 5px 0 3px;
}

.grandchild ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow: auto;
}

@media only screen and (max-width: 767px) {
  .grandchild ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .grandchild ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 960px) {
  .grandchild ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .grandchild li {
    margin: 0 0 3px;
    width: 48%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .grandchild li {
    margin: 0 2px 3px;
    width: 24%;
    min-width: 24%;
  }
}

@media only screen and (min-width: 960px) {
  .grandchild li {
    margin: 0 2px 3px;
    width: 24%;
    min-width: 24%;
  }
}

.grandchild a {
  font-size: 14px;
  line-height: 100%;
  display: block;
  background-color: #ffffdb;
  border: 1px solid #ccc;
  padding: 5px 0 4px;
  border-radius: 2px;
  text-align: center;
}

.grandchild .maker a,
.grandchild .series a,
.grandchild .source a {
  width: 291px;
}

.item_list_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 0 10px 0;
}

.item_list_head .count {
  padding: 0 10px;
}

.thumlarge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.thumlarge .path {
  display: none;
}

.thumlarge .block {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cccccc;
  text-align: center;
  margin: 0 0 20px 0;
}

@media only screen and (max-width: 767px) {
  .thumlarge .block {
    width: 49%;
    height: 380px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .thumlarge .block {
    width: 24%;
    height: 380px;
  }
}

@media only screen and (min-width: 960px) {
  .thumlarge .block {
    width: 24%;
    height: 380px;
  }
}

.thumlarge .block p {
  margin: 0;
}

.thumlarge .pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #eee;
  width: 100%;
}

.thumlarge .pic img {
  max-width: calc(100% - 10px);
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.thumlarge .thum {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 230px;
}

.thumlarge .thum > a {
  width: 100%;
  max-width: calc(100% - 10px);
  height: 220px;
  max-height: calc(100% - 10px);
  position: relative;
}

.thumlarge .thum .r18mark,
.thumlarge .thum .r18item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 230px;
}

.thumlarge .thum .r18mark {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.thumlarge .thum .r18item {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.thumlarge .basic {
  position: absolute;
  top: 335px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: center;
}

.thumlarge .basic p {
  display: inline-block;
  overflow: hidden;
  padding: 3px 5px 2px;
  max-width: 100px;
  border-radius: 3px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  line-height: 100%;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin: 0 auto;
}

.thumlarge .basic .shop {
  background-color: #999;
}

.thumlarge .basic .itemno {
  display: none;
}

.thumlarge .basic .stock {
  background-color: #999;
}

.thumlarge .title {
  position: absolute;
  top: 230px;
  left: 0;
  z-index: 1;
  background-color: #888;
  width: 100%;
  height: 41px;
  text-align: center;
}

.thumlarge .title p {
  width: 100%;
  height: 37px;
  font-size: 13px;
  line-height: 140%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px 5px 0;
  overflow: hidden;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.thumlarge .title a {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 31px;
  color: #fff;
  margin: auto;
}

.thumlarge .addcart,
.thumlarge .soldout {
  position: absolute;
  top: 300px;
}

@media only screen and (max-width: 767px) {
  .thumlarge .addcart,
  .thumlarge .soldout {
    left: 3px;
    z-index: 1;
    width: 42%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .thumlarge .addcart,
  .thumlarge .soldout {
    left: 10px;
    z-index: 1;
    width: 43%;
  }
}

@media only screen and (min-width: 960px) {
  .thumlarge .addcart,
  .thumlarge .soldout {
    left: 10px;
    z-index: 1;
    width: 43%;
  }
}

.thumlarge .addcart a {
  display: block;
  padding: 5px 3px 4px 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

.thumlarge .soldout p {
  padding: 5px 3px 4px 5px;
  border-radius: 5px;
  background-color: #eee;
  color: #666;
  text-align: center;
  font-size: 14px;
}

.thumlarge .addfavo,
.thumlarge .addalert {
  position: absolute;
  top: 300px;
}

@media only screen and (max-width: 767px) {
  .thumlarge .addfavo,
  .thumlarge .addalert {
    right: 3px;
    z-index: 1;
    width: 47%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .thumlarge .addfavo,
  .thumlarge .addalert {
    right: 10px;
    z-index: 1;
    width: 43%;
  }
}

@media only screen and (min-width: 960px) {
  .thumlarge .addfavo,
  .thumlarge .addalert {
    right: 10px;
    z-index: 1;
    width: 43%;
  }
}

.thumlarge .addfavo a,
.thumlarge .addalert a {
  display: block;
  padding: 5px 3px 4px 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .thumlarge .addfavo a,
  .thumlarge .addalert a {
    overflow: hidden;
    white-space: nowrap;
  }
}

.thumlarge .price {
  position: absolute;
  top: 277px;
  left: 2px;
  z-index: 1;
  width: 100%;
}

.thumlarge .price p {
  text-align: center;
  font-size: 16px;
  line-height: 100%;
}

.thumlarge .price_range {
  position: absolute;
  top: 352px;
  left: 0;
  z-index: 1;
  width: 100%;
}

.thumlarge .price_range p {
  text-align: center;
  font-size: 14px;
}

.thumlarge .new_arrival {
  background-color: #ff3333;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 9;
}

.thumlarge .new_arrival--ja {
  letter-spacing: 1px;
}

.thumsmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.thumsmall .basic,
.thumsmall .path {
  display: none;
}

.thumsmall .block {
  position: relative;
  height: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 15px 0;
  border: 1px solid #ccc;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .thumsmall .block {
    width: 33%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .thumsmall .block {
    width: 19%;
  }
}

@media only screen and (min-width: 960px) {
  .thumsmall .block {
    width: 16%;
  }
}

.thumsmall .block p {
  margin: 0;
}

.thumsmall .pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #eee;
  width: 100%;
}

.thumsmall .pic img {
  max-width: calc(100% - 10px);
  height: auto;
}

.thumsmall .thum {
  position: relative;
  width: 100%;
}

.thumsmall .thum > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.thumsmall .thum .r18mark,
.thumsmall .thum .r18item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 150px;
}

.thumsmall .thum .r18mark > a,
.thumsmall .thum .r18item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.thumsmall .thum .r18mark {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.thumsmall .thum .r18item {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.thumsmall .title {
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 1;
  width: 100%;
  border-top: 1px solid #ccc;
  color: #000;
}

.thumsmall .title p {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 3px 0 2px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.thumsmall .price {
  position: absolute;
  top: 180px;
  left: 0px;
  z-index: 1;
  width: 100%;
}

.thumsmall .price p {
  text-align: center;
  font-size: 12px;
  line-height: 100%;
}

.thumsmall .addfavo,
.thumsmall .addalert {
  position: absolute;
  top: 200px;
  right: 5px;
  z-index: 1;
  width: 45%;
}

.thumsmall .addfavo a,
.thumsmall .addalert a {
  display: block;
  padding: 1px 0 1px 0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 10px;
}

.thumsmall .addcart,
.thumsmall .soldout {
  position: absolute;
  top: 200px;
  left: 5px;
  z-index: 1;
  width: 45%;
}

.thumsmall .addcart a {
  display: block;
  padding: 1px 0 1px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
}

.thumsmall .soldout p {
  display: block;
  padding: 1px 0 1px 0;
  border-radius: 5px;
  background-color: #eee;
  color: #666;
  text-align: center;
  font-size: 10px;
}

.infolist {
  margin: 0 0 20px 0;
}

.infolist p {
  margin: 0;
}

.infolist .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  height: 105px;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.infolist .block:first-child {
  border-top: 1px solid #ccc;
}

.infolist .pic {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 10%;
  height: 90px;
  margin: 7px 0 0 0;
  background-color: #eee;
}

.infolist .pic img {
  max-width: calc(100% - 10px);
  max-height: 80px;
}

.infolist .thum {
  position: relative;
  width: 100%;
}

.infolist .thum > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 90px;
}

.infolist .r18mark,
.infolist .r18item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 90px;
}

.infolist .r18mark {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.infolist .r18item {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.infolist .basic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 57%;
  height: 15px;
  margin: 5px 10px 5px;
}

.infolist .basic p {
  display: inline-block;
  margin: 0;
  margin: 0 2px 0 0;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  background-color: #eee;
  font-size: 13px;
  line-height: 100%;
}

.infolist .basic.shop {
  background-color: #f8e58c;
}

.infolist .basic.itemno {
  background-color: #b9d08b;
}

.infolist .basic.stock {
  background-color: #f8b862;
}

.infolist .title {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 57%;
  height: 60px;
  margin: 0 10px;
}

.infolist .title p {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 150%;
}

.infolist .category {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 57%;
  height: 15px;
  margin: 0 10px;
  font-size: 13px;
  line-height: 100%;
}

.infolist .price {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  width: 12%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 10px 0 0;
}

.infolist .price p {
  font-size: 16px;
  line-height: 100%;
}

.infolist .price_range {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  width: 12%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: 0 10px 0 0;
}

.infolist .price_range p {
  font-size: 12px;
  line-height: 140%;
  text-align: right;
}

.infolist .addcart, .infolist .soldout {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  width: 17%;
  font-size: 14px;
  line-height: 100%;
  margin: 13px 0 5px 0;
}

.infolist .addcart a, .infolist .addcart p, .infolist .soldout a, .infolist .soldout p {
  display: block;
  padding: 12px 0 12px 0;
  border-radius: 5px;
  text-align: center;
}

.infolist .soldout p {
  background-color: #eee;
  color: #666;
  text-align: center;
}

.infolist .addfavo, .infolist .addalert {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
  width: 17%;
}

.infolist .addfavo a, .infolist .addalert a {
  display: block;
  padding: 7px 0 7px 0;
  border-radius: 5px;
  text-align: center;
}

.imagelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  text-align: center;
  padding: 10px 0 5px 0;
}

.imagelist .block {
  position: relative;
  width: 16.3%;
  height: 170px;
  margin: 0 0 5px 0;
  display: inline-block;
}

.imagelist .pic {
  width: 100%;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eee;
}

.imagelist .pic img {
  max-width: calc(100% - 10px);
}

@media only screen and (max-width: 767px) {
  .imagelist .pic img {
    max-height: 160px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .imagelist .pic img {
    max-height: 160px;
  }
}

@media only screen and (min-width: 960px) {
  .imagelist .pic img {
    max-height: 160px;
  }
}

.imagelist .thum {
  position: relative;
  width: 100%;
}

.imagelist .thum > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 170px;
}

.imagelist .r18mark,
.imagelist .r18item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 170px;
}

.imagelist .r18mark {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.imagelist .r18item {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.imagelist .basic,
.imagelist .title,
.imagelist .addfavo,
.imagelist .addcart,
.imagelist .price,
.imagelist .path,
.imagelist .addalert,
.imagelist .soldout,
.imagelist .price_range {
  display: none;
}

/*-----*/
.narrow h1 {
  background-color: #9ba4b2;
  font-size: 18px;
  line-height: 100%;
  padding: 10px 0 8px 10px;
  margin: 0 0 10px 0;
  color: #fff;
}

.narrow .narrow_select {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0 3px;
  margin: 7px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.narrow .narrow_select a {
  display: block;
  width: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eee;
  padding: 3px 5px;
  margin: 0 1px 2px;
}

.narrow .narrow_select a.active {
  background-color: #fff;
  border: 1px solid #ccc;
}

.narrow .narrow_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.narrow .narrow_list .block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 15px;
  border: 1px solid #cccccc;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .narrow .narrow_list .block {
    width: 48%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .narrow .narrow_list .block {
    width: 23%;
  }
}

@media only screen and (min-width: 960px) {
  .narrow .narrow_list .block {
    width: 19%;
  }
}

.narrow .narrow_list .pic {
  background-color: #eee;
}

.narrow .narrow_list .pic img {
  max-width: 80px;
  max-height: 80px;
}

.narrow .narrow_list .thum {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.narrow .narrow_list .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.narrow .narrow_list .title a {
  width: 100%;
  height: 100px;
  padding: 4px 3px 0 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}
